html, body {
    height: 100%;
}
#full_container {
    min-height:88vh;

}

#main {
    min-height:88vh;
    overflow:auto;
    padding-bottom: 50px;
}

#footer {
    position: relative;
    width: 100%;
    height: 57px;
    clear: both;
}